@import "tailwindcss";

*{
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
}

@theme{
    --color-primary:rgb(0,86,164);
    --color-secondary:#050B13;
    --color-tertiary:#4D5761;
    --color-blue:#E5EFF7;
    --color-hover:#E5EFF7;
}